<p>
 <span class="credits"> 
    
	<a target="_blank" class="text-dark" href="https://dev.jsdhami.com.np/">
		Designed By <i class="fa fa-heart text-danger"></i> <u>Mr. JS Dhami</u>.
	</a>
    </span>
    </p>
<p>
    <a class="text-muted" href="{{site.url}}{{site.baseurl}}/">
        &copy;  {{site.name}}. 
    </a>
    
    <a class="text-muted" href="{{site.url}}{{site.baseurl}}/privacy-policy.html">
        Privacy Policy.
    </a>
    
    <a class="text-muted" target="_blank" href="https://jsdhami.com.np/">
        About Me.
    </a>
    
</p>