<!--  Replace footer social links here -->

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.facebook.com/jsdhami.kashyap" class="text-dark"><i class="fab fa-facebook-f"></i></a>
</li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://github.com/jsdhami" class="text-dark"><i class="fab fa-github"></i></a></li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://twitter.com/JsD_Kashyap" class="text-dark"><i class="fab fa-twitter"></i></a></li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://plus.google.com/" class="text-dark"><i class="fab fa-google-plus"></i></a>
</li>